@font-face {
    font-family: larisch2 ;
    src: url('./assets/font/Larish Neue Semibold.woff2');
}

@font-face {
    font-family: larisch ;
    src: url('./assets/font/LarishNeueSemibold.woff');
}

