@font-face {
    font-family:'larisch';
    src: url('../font/LarishNeueSemibold.woff');
}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-family: 'Work Sans', sans-serif; */

@import './colors.scss';
@import './mixin.scss';



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    overflow: scroll;
    overflow-x: hidden;
}


.line {
    background-image: url('./assets/img/line.svg');
    height: 20vh;
    background: $black;
}

h1 {
    font-family: 'larisch';
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 90px;
    @include font-Size (7rem)   
}

h2 {
    font-family: 'larisch';
    @include font-Size (6.5rem)
}

h3 {
    font-family: 'larisch';
    @include font-Size (4rem)
}

h4{
    font-family: 'larisch';
    @include font-Size (2.5rem)
}

p{
    font-family: 'Work Sans', sans-serif;   
    @include pSize (1.2rem, 400)
}


/* +++++++++++++++ HERO SECTION +++++++++++++++ */

.heroSection {
    padding: 0 10vw 15vh 10vw;
    background: #000;
    color: $white;
    article{
        margin: 10vh 0;
    }
    .heroArticle{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .h1Style{
        color: $black;
        -webkit-text-stroke: 1px $white;
    }
    .heroP{
        margin: 3vh 0;
    }
    .bearLogoBtn{
        display: flex;
        justify-content: space-between;
        margin: 25vh 0;
        img{
            width: 7%;
        }
    }
    .infoArticle{
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: relative;
        .info{
            margin-top: 5vh;
        }
        p{
            margin: 2vh 0;
        }
        .divMap{
            position:absolute;
            z-index: 2;
            &:nth-of-type(1){
                margin-top: -83vh;
                margin-left: 50vw;
                width: 50%;
            }
        }
    }

}


/* +++++++++++++++ Der BUTTON oben & unten +++++++++++++++ */

.btn{
    @include button;
}

/* +++++++++++++++ Der BUTTON +++++++++++++++ */


.sectionPositionRelative {
    position: relative;

    .bild{
        position: absolute;
        z-index: 2;
        &:nth-of-type(1){
            margin-top: -72vh;
            margin-left: 66vw;
            width: 29%;
        }
        &:nth-of-type(2){
            margin-top: -26vh;
            margin-left: 3vw;
            width: 24%;
        }
        &:nth-of-type(3){
            margin-top: 33vh;
            margin-left: 78vw;
            width: 21%;
        }
        &:nth-of-type(4){
            margin-top: 65vh;
            margin-left: 16vw;
            width: 25%;
        }
        &:nth-of-type(5){
            margin-top: 90vh;
            margin-left: 58vw;
            width: 25%;
        }
        &:nth-of-type(6){
            margin-top: 128vh;
            width: 24%;
        }
        &:nth-of-type(7){
            margin-top: 175vh;
            margin-left: 48vw;
            width: 37%;
        }
    }
    .stuckInTheMiddle{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 60vh;
        div{
            word-break: keep-all;
            width: 30%;
        }
        h3{
            width: 125%;
            margin-bottom: 3vh;
            @include rhythm (100, 80)
        }
        .inTheMiddleP{
            @include middleText;
            padding-bottom: 92vh;
            @include rhythm (20, 35)
        }
        .inTheMiddleP_2{
            @include middleText;
            @include rhythm (20, 35);
            
    
        }
    }
}

.theGoldenBear{
    background: $black;
    color: $white;
    position: relative;
    .goldenArticle{
        @include theBear;
    }
    h3{
        width: 50%;
    }
    .bearImg{
        position: absolute;
        z-index: 2;
        &:nth-of-type(1){
            width: 50%;
            margin-top: -75vh;
            margin-left: 12vw;
        }
        &:nth-of-type(2){
            width: 27%;
            margin-top: -55vh;
            margin-left: 57vw;
        }
    }
}

.thePoppyBear{
    background: $white;
    color: $black;
    position: relative;
    padding-bottom: 30vh;
    .poppyArticle{
        margin: 30vh 0 20vh 0;
        @include theBear;
    }
    h3{
        width: 50%;
    }
    .flowerImg{
        position: absolute;
        z-index: 2;
        &:nth-of-type(1){
            width: 55%;
            margin-top: -86vh;
            margin-left: 37vw;
        }
        &:nth-of-type(2){
            width: 30%;
            margin-top: -68vh;
            margin-left: 13vw;
        }
    }
}

/* .movingText{
    position: relative;
    div{
        @include leftRigt;
    }
    span{
        color: $white;
        -webkit-text-stroke: 2px $black;
    }
} */

.rotatingAnimation{
    position: relative;
    .rotateImg{
        @include spinImg;
    }
}

.join {
    @include join;
    background: #000;
    color: white;
}

footer {
    display: grid;
    grid-template-columns: 50% 50%;
    @include icons(20vh, 0, 10vw, $black);
    .icons{
        height: 25px;
        img{
            height: 100%;
            margin-right: 10px;
        }
    }
    p{
        color: $white;
        margin: 3vh 0;
    }
    .redCrossLogo{
        height: 40px;
        display: flex;
        justify-content: end;
        align-self: center;
        img{
            &:nth-of-type(1){
                height: 160%;
            }
            &:nth-of-type(2){
                height: 90%;
                margin: 5vh 0 0;
            }

        }
    }

}



