@mixin rhythm($sizeValue: 12, $heightValue: 20, $weightValue: 200) {
	@include font-size($sizeValue);
	@include line-height($heightValue);
}

@mixin font-size ($sizeValue: 12) {
    font-size: $sizeValue + px;
	font-size: (0.0625 * $sizeValue) + rem;
}

@mixin line-height ($heightValue: 20){
    line-height: $heightValue + px;
    line-height: (0.0625 * $heightValue) + rem;
}

@mixin pSize ($fs, $fw) {
    font-size: $fs;
    font-weight: $fw;
}

@mixin font-Size ($fs){
    font-size: $fs;
}

@mixin button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    color: $white;
    text-decoration: none;
    border: 0.5px solid;
    width: 11vw;
    height: 9vh;
    @include font-Size(1.3rem);
    &:hover{
        background-color: $white;
        color: $black;
        transition: 0.5s;
    }
}

@mixin middleText {
    word-break: keep-all;
    width: 114%;
    font-weight: 500;
    padding-bottom: 50vh;
}

@mixin theBear {
    display: grid;
    grid-template-columns: 50% 50% ;
    padding: 30vh 10vw 90vh 10vw;
    .bearDiv1{
        h3{
            @include font-Size (5.5rem)
        }
    }
    .bearDiv2{
        h4{
            margin: 3vh 0;
            width: 101%;
        }
    }
}

@mixin join {
    padding: 25vh 10vw 20vh 10vw;
    h4{
        word-break: keep-all;
        margin: 3vh 0;
        width: 53%;
    }

}

@mixin spinImg {
    z-index: 1;
    width: 36%;
    position: absolute;
    margin-left: 75vw;
    margin-top: -20vh;
    animation: translater  15s linear 0s infinite normal none running;
}

@mixin icons ($height, $h, $w, $color) {
    background-color: $color;
    height: $height;
    padding: $h $w ;
}

@keyframes translater {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

/* @mixin leftRigt {
    background: $white;
    z-index: 1;
    position: absolute;
    transform: rotate(40deg);
    margin-top: -60vh;
    margin-left: 30vw;
    .leftToRight{
        animation:  move ease-in-out infinite forwards alternate-reverse;
    }

    
}


@keyframes move {
    from{
        transform: translateX(0px);
    }
    to{
        transform: translateX(400px);
    }

} */
